html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-size: 62.5%;
}

body {
  background: linear-gradient(#cf5a5b, #8389ce);
  height: 100vh;
  border-bottom: 1px solid #000;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#searchAndRandomContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  transition: all 0.3s;
}

#searchInput {
  font-family: "Caveat", cursive;
  font-size: 2.4rem;
  background-color: #bdc1ef;

  border-radius: 1rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.btn {
  font-family: "Caveat", cursive;
  font-size: 2.4rem;

  padding: 1rem;
  background-color: #9198e5;
  background-image: linear-gradient(210deg, transparent 10%, #e97474 100%);
  border-radius: 1rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease 0s;
}

.btn:hover {
  background-color: #747ab7;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-content: space-around;
  width: 100%;
  max-width: 120rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

.cardContainerStyle {
  position: relative;
  margin: 4rem 40vw;

  border-radius: 1%;
  background-color: #9198e594;
  background-image: linear-gradient(210deg, transparent 10%, #e97474 20%);
  box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.cardContainerStyle:hover .statsContainer {
  transform: scale(1.1);
  color: #000;
}

.cardContainerStyle:hover {
  transform: scale(1.1);
}

.cardContainerStyle::before,
.cardContainerStyle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2rem solid #bdc1ef;
  border-radius: inherit;
  background-color: inherit;
  background-image: inherit;
  box-shadow: inherit;
  transition: all 0.5s;
  z-index: -1;
}

.cardContainerStyle:hover::before {
  transform: rotate(-20deg);
  transition-delay: 0.1s;
}

.cardContainerStyle:hover::after {
  transform: rotate(-10deg);
  transition-delay: 0.1s;
}

#heroImgDiv {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 3rem;
  font-size: 1.8rem;
  text-align: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

#heroImgDiv:hover {
  cursor: pointer;
}

img {
  display: block;
  margin: auto;

  border: 1rem solid #bdc1ef;
  border-radius: 50%;
}

.statsContainer {
  display: flex;
  text-align: center;
  justify-content: center;

  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -25rem;
  color: transparent;
  transition: all 0.5s;
}

#stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1rem;
  font-size: 1.6rem;
}
